html, body {
  color: #333333;
}

a {
  color: #333333;
}

section {
  min-width: 1100px;
  margin: auto;
}

.top-nav {
  width: 100%;
  color: #000;
}

.top-nav .logo-wrap {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.top-nav .logo-wrap .logo {
  display: inline-block;
  width: auto;
  max-height: 35px;
  line-height: 30px;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.top-nav .main-navs {
  float: left;
  width: 80%;
}

.top-nav .main-navs .navs-item {
  margin-top: 25px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.top-nav .main-navs .navs-item .active-img {
  display: none;
}

.top-nav .main-navs a {
  display: inline-block;
  width: 120px;
  padding-left: 15px;
  height: 36px;
  vertical-align: middle;
  line-height: 36px;
}

.top-nav .main-navs a:hover {
  background: #083f7a;
  color: #fff;
}

.top-nav .main-navs a:hover .active-img {
  display: inline-block;
}

.top-nav .main-navs a:hover .default-img {
  display: none;
}

.top-nav .main-navs a img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.top-nav .main-navs a img.active-img {
  display: none;
}

.top-nav .main-navs .active {
  background: #083f7a;
  color: #fff;
}

.top-nav .main-navs .active .active-img {
  display: inline-block;
}

.top-nav .main-navs .active .default-img {
  display: none;
}

.top-nav .opt-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.top-nav .fr {
  margin-top: 25px;
  font-size: 20px;
  color: #d3082f;
  line-height: 36px;
}

.top-nav .fr img {
  width: 21px;
}

.footer {
  min-width: 1100px;
  color: #999999;
  background: #2f3545;
}

.footer .brand {
  width: 1100px;
  padding-top: 35px;
  margin: auto;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #3c4252;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .brand div {
  padding-bottom: 15px;
}

.footer .brand div img {
  width: 50px;
  float: left;
  height: 50px;
  padding-right: 10px;
}

.footer .brand div h3 {
  color: #606475;
  float: left;
  width: 108px;
  font-size: 18px;
  line-height: 50px;
}

.footer .us {
  font-size: 13px;
  line-height: 13px;
  padding-top: 15px;
  margin: auto;
  text-align: center;
  color: #999999;
}

.footer .us a {
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  color: #828693;
  border-right: 1px solid #828693;
  padding-right: 10px;
  margin-right: 8px;
}

.footer .us a:hover {
  color: #fff;
}

.footer .us a:last-child {
  border: 0;
}

.footer p {
  padding-bottom: 30px;
  color: #828693;
  font-size: 13px;
  text-align: center;
}

.top {
  color: #fff;
  text-shadow: 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
}

.top .img {
  height: 470px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top .img h3 {
  width: 40%;
  margin: auto;
  padding-top: 131px;
  height: 67px;
  font-size: 48px;
  line-height: 58px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top .img p {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: auto;
  width: 676px;
  height: 74px;
  font-size: 24px;
  line-height: 37px;
}
